/* styles/global.scss or PageLayout.scss */

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  padding: 16px 24px;
}

.searchBar {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px 10px 5px 10px;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
}

.home-banner{
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container{
  margin: 20px;
}

.txt-size-40{
  color: white;
  font-size: 40px;
}

.txt-size-20{
  font-size: 20px;
}

.color-gray{
  color: #b9bdba;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.w-50{
  width: 50%
}

.m-auto{
  margin: auto;
}